
body, html{
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  overflow-x:none;
  margin:0; 
  padding:0;
}
hr { 
  width:100%; 
  height:1px;  
  margin-top: 350px;
  border: none;
  border-top: 1px solid #4D6886;
}
h1{
  font-size: 45px;
  font-weight: bolder;
  text-align: center;
}
h2{
  font-size: 35px;
  padding-top: 20px;
}
h3{
  font-weight: bolder;
  font-size: 45px;
}
h4{
  font-size: 30px;
  color: #4D6886;
}
h5{
  font-size: 18px;
  color: #FFF;
}
h6{
  font-size: 18px;
}

.button{
  padding: 20px 20px;
  font-size: 20px;
}
.bgButton{
  height: 50px;
  width: 150px;
  font-size: 16px;
  margin-right: 20px;
  background-color: #3C5A79;
  color: #FFF; 
}
/**********Page Nav-bar*******/
.navbar{
  background-color: #3C5A79;
  font-size: 16px;
}
.navbar-primary .navbar-nav li a {
  color: rgba(255,255,255,.5);
}
.navbar-primary .navbar-nav li a:hover {
  color: #FFF;
  background-color: #3C5A79;
}
.navbar-primary .navbar-nav .active a{
  color: #FFF;
  font-weight: 700;
  background-color: #3C5A79;
}
.navbar-primary .navbar-nav .active a:hover{
  color: #FFF;
  font-weight: 700;
  background-color: #3C5A79;
}
/**********Fixed Nav-bar*******/
.navbar{
  background-color: #3C5A79;
  font-size: 16px;
}
.navbar-default .navbar1-nav li a {
  color: rgba(255,255,255,.5);
}
.navbar-default .navbar-nav li a:hover {
  color: #000;
  background-color: #FFF;
}
.navbar-default .navbar-nav .active a{
  color: #000;
  font-weight: 700;
  background-color: #FFF;
}
.navbar-default .navbar-nav .active a:hover{
  color: #000;
  font-weight: 700;
  background-color: #FFF;
}
.navbar-fixed{
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #FFF;
  color: #000;
}
.pink-text{
  color:#ff6b6b;
}
.pageWrapper1{
  background-color: #3C5A79;
  color: #FFF;
  background: linear-gradient( #3C5A79, #153254);
  /*background: linear-gradient(rgba(21,50,84,1), rgba(21,50,84,.5));*/
}
.pageContainer{
  min-height: 480px;

}
.containerWrapper1{
  padding-top: 20px;
  padding-left: 70px;
  /*background-image: */
}
.containerWrapper1 h2{
  font-weight: 200;
  font-size:30px;
  letter-spacing: 1px;
}
.containerWrapper1 h4{
  color: #DBEBFD;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 1px;
  /*text-align: center;*/
  width:75%;

  /*text-transform: uppercase;*/
}
.compose-image{
  border-radius: 5px;
-webkit-box-shadow: 5px 7px 15px 2px rgba(221,221,221,1);
-moz-box-shadow: 5px 7px 15px 2px rgba(221,221,221,1);
box-shadow: 1px 1px 5px 1px rgba(221,221,221,1);
margin:30px;
margin-top: -30px;
margin-right: 50px;
}
.containerWrapper2{
  /*padding-top: 50px;*/
  text-align: center;
}
.signupButtonsWrapper{
  text-align: center;
   padding-top: 50px;
}
.signupButtonsWrapper a{

  width: 300px;
}
.pageWrapper2{
  background-color: #FFF;
  color: #666;
  min-height: 580px; 
}
.pageContainer2{
  padding-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  width: 100%;
  margin-left: 5%;
}
.tryButton{
  margin-top: -7px;
}
.infoPanel{
  min-height: 100px;
  margin: 20px;

}
.panelContent{
  min-height: 200px;
  border-bottom: 1px solid #e3e3e3;
}
.pageWrapper3{
  background-color: #153254;
  color: #FFF;
  min-height: 570px;
}
.containerWrapper3{
  padding-top: 70px;
  padding-left: 120px;
}
.containerWrapper4{
  padding-left: 50px;  
  text-align: left; 
}
.containerWrapper4 img{
  margin-top: 100px;
  position: relative;
  right: 20px;
  /*margin-right: 20px;*/
}
.sl-img{
  position: relative;
  bottom:300px;
  left:20px;
}
.pageWrapper4{
  background-color: #0A1E34;
  color: #FFF;
  min-height: 540px;
}
.containerWrapper5{
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px; 
}
.companyDetails{
  list-style: none;
}
.companyDetails li {
  padding-top: 10px;
}
.companyDetails li a{
  color: #4D6886;
  font-size: 16px;
  cursor: pointer;
}
.companyDetails li a:hover{
  color: #FFF;
  font-size: 16px;
  text-decoration: none;
}
.socialNetworkingIcons{
  font-size: 22px;
}
.socialNetworkingIcons i{
  margin-right: 5px;
}
.panelContent h5{
  font-weight: 200 ;
  text-transform: uppercase;

}
.panelContent p{
  font-weight: 400;
  color:#537DA8 ;
  font-size: 16px;
  margin-left: 100px;
  margin-top: 35px;
  font-weight: 300;
}
.panelContent img{
  margin-top:20px;
}
.feature-header{
  text-align: center;
  font-weight: 200;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 26px
}
